@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        height: 80vh;
    }
    .line > h1{
        font-size: 1.2em;}
    #logo{
        margin-top: 14px;
        width: 40px;
        height: 40px;
        filter: invert();
    }
    #forca{
        margin: 10vh auto 10vh auto;
        width: 250px;
        height: 250px;
    }
    #forcatext{
        font-size: .8em;
    }
    .kbtn{
        width: 60px;
        height: 50px;
        margin: 2px;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.26);
        font-size: .4em;
        transition: 2s;
    }
    #configbutton{
        height: 80vh;
        border-right: 1px solid white;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    main{
        height: 80vh;
    }
    .line > h1{
        font-size: 1.5em;}
    #logo{
        margin-top: 20px;
        width: 45px;
        height: 45px;
        filter: invert();
    }
    #forca{
        margin: 5vh auto 5vh auto;
        width: 300px;
        height: 300px;
    }
    #forcatext{
        font-size: .9em;
    }
    #keyboard{
        margin-top: 2vh;
    }
    .kbtn{
        width: 75px;
        height: 60px;
        margin: 2px;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.26);
        font-size: .5em;
        transition: 2s;
    }
    #configbutton{
        height: 30vh;
        background-color: transparent;
        box-shadow: none;
    }
    #configbutton > img{
        left: -20px;
        width: 140%;
        height: 140%;
        filter: invert();
    }
}

@media screen and (min-width: 1200px){
    main{
        height: 80vh;
    }
    .line > h1{
        font-size: 2em;}
    #logo{
        margin-top: 25px;
        width: 60px;
        height: 60px;
        filter: invert();
        border: 7px solid black;
        border-radius: 10px;
    }
    #forca{
        margin: 10vh auto 0vh auto;
        width: 300px;
        height: 300px;
    }
    #forcatext{
        font-size: .8em;
    }
    .kbtn{
        width: 70px;
        height: 70px;
        margin: 2px;
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.26);
        font-size: .5em;
        transition: 2s;
    }
    .kbtn:hover{
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.308);
    }
    #menuside{
        width: 200px;
        background-color: transparent;
        box-shadow: none;
        left: calc(100% - 200px);
        display: block;
    }
    #menuside:hover #menulist{
        width: 200px;
        display: block;
    }
    #menulist{
        display: block;
    }
    #configbutton{
        display: none;
    }
}